<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fj.footballmatchscedulefinal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.InitialActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.team.all.TeamActivity" />
        <activity
            android:name=".ui.team.detail.TeamDetailActivity"
            android:label="@string/title_activity_team_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.team.player.all.PlayerActivity" />
        <activity android:name=".ui.team.player.detail.PlayerDetailActivity" />
        <activity android:name=".ui.favorite.FavoriteInitialActivity" />
        <activity android:name=".ui.favorite.team.FavoriteTeamActivity" />
        <activity android:name=".ui.team.search.TeamSearchActivity" />
        <activity android:name=".ui.match.all.past.MatchActivity" />
        <activity android:name=".ui.match.MatchInitialActivity" />
        <activity
            android:name=".ui.match.detail.MatchDetailActivity"
            android:label="@string/title_activity_match_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.favorite.match.FavoriteMatchActivity" />
        <activity android:name=".ui.match.search.MatchSearchActivity" />
        <activity android:name=".ui.match.all.next.NextMatchActivity"></activity>
    </application>

</manifest>